auth.json
package-lock.json
node_modules/*

backups/*
!backups/README.md

bigEmoji/*
!bigEmoji/README.md 

quotes/*
!quotes/README.md 

sounds/*
!sounds/README.md

temp/*
!temp/README.md

wiki/*
!wiki/README.md
